<div id="tiledCalculators">
  <div class="tile is-ancestor is-horizontal is-12">
    <div class="tile is-parent is-vertical is-6">
      <div class="tile is-child notification is-primary">
        <p class="title ">BMR Calculator</p>
        <p class="subtitle">This calculator allows you to find out how many calories you must eat in order to
          survive.</p>
        <button class="button">Go</button>
      </div>
      <div class="tile is-child notification is-warning">
        <p class="title ">TDEE Calculator</p>
        <p class="subtitle">This calculator allows you to find out how many calories you must eat in order to
          maintain your weight with your daily activities.</p>
        <button class="button">Go</button>
      </div>
    </div>
    <div class="tile is-parent is-horizontal is-6">
      <div class="tile is-child notification is-danger">
        <p class="title ">IIFYM Calculator</p>
        <p class="subtitle">This calculator allows you to find out how many calories you must eat in order to
          survive.</p>
        <button class="button">Go</button>
      </div>
      <div class="tile is-child notification is-dark">
        <p class="title ">Macros Calculator</p>
        <p class="subtitle">This calculator allows you to find out how many calories you must eat in order to
          maintain your weight with your daily activities.</p>
        <button class="button">Go</button>
      </div>
    </div>
  </div>
</div>
