<nav class="flex-container">
  <ul>
    <li class="flex-item">
      <a routerLink="/" routerLinkActive="active">Home</a>
    </li>
    <li class="flex-item">
      <a routerLink="/bmr-calculator" routerActiveLink="active">BMR Calculator</a>
    </li>

    <li class="flex-item" id="middle">
      <a routerLink="/iifym-calculator" routerLinkActive="active">IIFYM Calculator</a>
    </li>

    <li class="flex-item">
      <a routerLink="/tdee-calculator" routerLinkActive="active">TDEE Calculator</a>
    </li>
    <li class="flex-item">
      <a routerLink="/macros-calculator" routerLinkActive="active">Macros Calculator</a>
    </li>
  </ul>
</nav>
