<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">The Best Online Macro Calculator</h1>
      <h2 class="subtitle">Stop dieting: Hit your macros & get LEAN!</h2>
    </div>
  </div>
</section>
<div id="points" class="level">
  <p class="level-item title is-4">
    <i class="fa fa-check"></i> EAT MORE FOOD
  </p>
  <p class="level-item title is-4">
    <i class="fa fa-check"></i> LOSE MORE WEIGHT
  </p>
  <p class="level-item title is-4">
    <i class="fa fa-check"></i> SAY GOODBYE TO GUILT
  </p>
</div>
<app-tiled-calculators></app-tiled-calculators>
